<launch>
    <arg name="ns" default="test_1"/>

 <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_map" output="screen"
        args="0 0 0 0 0 0 map $(arg ns)/map">
  </node>
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" output="screen"
        args="0 0 0 0 0 0 $(arg ns)/map $(arg ns)/odom">
  </node>

  <node pkg="tf" type="static_transform_publisher" name="foot_to_link" output="screen"
        args="0.0 -1.7881393432617188e-07 0.0 0.0 0.0 0.0 $(arg ns)/base_footprint $(arg ns)/base_link 40">
  </node>
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser4"
    args="0.2245 0.0 0.2 0.0 0.0  0.0 $(arg ns)/base_link $(arg ns)/base_scan 40" />

</launch>
